# SSH settings cannot be overridden; first wins.
#
# Match OriginalHost {host} exec "whereami home"
#   Port {internal port}
# Host {host}
#   HostName {host url}
#   Port {external port}

Host *
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  ControlMaster auto
  ControlPath ~/.ssh/sessions/ssh-%r@%h:%p
