[submodule "vim/.janus/dash.vim"]
	path = stow/vim/.janus/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "vim/.janus/lusty"]
	path = stow/vim/.janus/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/.janus/mediawiki.vim"]
	path = stow/vim/.janus/mediawiki.vim
	url = https://github.com/chikamichi/mediawiki.vim.git
[submodule "vim/.janus/tabular"]
	path = stow/vim/.janus/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/.janus/vdebug"]
	path = stow/vim/.janus/vdebug
	url = https://github.com/joonty/vdebug
[submodule "vim/.janus/vim-airline"]
	path = stow/vim/.janus/vim-airline
	url = https://github.com/bling/vim-airline.git
