[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
[push]
  default = tracking
[core]
  editor = vim
  autocrlf = input
  excludesfile = ~/.gitignore_global
[mergetool]
  keepBackup = false
[alias]
  b = branch
  co = checkout
  d = diff
  diff-recursive = !git --no-pager diff --color=always --ignore-submodules && \
    git --no-pager submodule foreach --recursive git diff --color=always
  f = fetch --prune --tags
  fa = fetch --prune --tags --all
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  s = status
  su = submodule update
[merge]
  tool = vimdiff
  conflictstyle = diff3
[include]
  path = ~/.gitconfig.local
[pull]
	ff = only
[init]
	defaultBranch = main
