let mapleader=" "

set visualbell
set surround
set easymotion

" Use :actionlist to find IDE actions for mapping
nmap <C-W>o :action HideAllWindows<CR>

" Bracket mappings
map [c :action VcsShowPrevChangeMarker<CR>
map ]c :action VcsShowNextChangeMarker<CR>
map [q :action GotoPreviousError<CR>
map ]q :action GotoNextError<CR>
map [` :action GotoPreviousBookmark<CR>
map ]` :action GotoNextBookmark<CR>

" Git
map <Leader>gw :action Git.Add<CR>
map <Leader>gs :action Vcs.Show.Local.Changes<CR>
map <Leader>gd :action Compare.SameVersion<CR>
map <Leader>gc :action CheckinProject<CR>
map <Leader>gb :action Annotate<CR>

" Debug
map <Leader>ve :action PhpListenDebugAction<CR>
