let mapleader=" "

set visualbell
set surround
set easymotion

" Use :actionlist to find IDE actions for mapping
nmap <C-W>o <Action>(MaximizeEditorInSplit)

" Bracket mappings
map [c <Action>(VcsShowPrevChangeMarker)
map ]c <Action>(VcsShowNextChangeMarker)
map [q <Action>(GotoPreviousError)
map ]q <Action>(GotoNextError)
map [` <Action>(GotoPreviousBookmark)
map ]` <Action>(GotoNextBookmark)

" Git
map <Leader>gw <Action>(Git.Add)
map <Leader>gs <Action>(Vcs.Show.Local.Changes)
map <Leader>gd <Action>(Compare.SameVersion)
map <Leader>gc <Action>(CheckinProject)
map <Leader>gb <Action>(Annotate)

" Debug
map <Leader>ve <Action>(PhpListenDebugAction)
